---
---

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

$royal-blue: #100BA3;
$deep-blue: #212029;
$teal: #34BEEF;
$beige: #DCDDF5;
$gray: #888888;
$light-gray: #cccccc;

$retro-fonts: "Share Tech Mono", Monaco, monospace;
$modern-fonts-1: "Droid Sans", Helvetica, Arial, sans-serif;
$modern-fonts-2: "Droid Serif", Georgia, Times, serif;

a:link, a:visited {
  color: $royal-blue;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active {
  color: $teal;
  text-decoration: none;
  font-weight: bold;
}

.container {
  position: relative; // remove this? elements aren't positioned within the container
  width: 100%;
  float: left;
  clear: both;
}

.light-box {
  display: inline-block;
  padding: 5px;
  background-color: $beige;
  box-shadow: 10px 10px 5px $gray;
}

/*************************************************************************/

#header-container {
  @extend .container;
  background-color: $deep-blue;
  height: 150px;
}

header {
  position: relative;
  width: 525px;
  padding: 30px;
  margin: 0 auto;
}

img#portrait {
  position: absolute;
  top: 20px;
  width: 100px;
  height: 100px;
  border: 0px;
  border-radius: 10px;
}

div#project-links {
  @extend .light-box;
  position: absolute;
  margin: 0px;
  top: 10px;
  left: 140px;

  p {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: $retro-fonts;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
  }
}

ul#contact-links {
  position: absolute;
  left: 110px;
  top: 75px;

  li {
    list-style-type: none;
    display: inline;
    padding-right: 5px;
    img {
      border: 0px;
      border-radius: 15px;
    }
  }
}


/*************************************************************************/

#content-container {
  @extend .container;
  background-image: url("../bright_squares.png");
}

main {
  width: 90%;
  margin: 0 auto;

  font-family: $modern-fonts-1;
  font-size: 16px;
  line-height: 26px;
}

.page-header {
  font-family: $modern-fonts-2;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

.date {
  font-family: $retro-fonts;
  text-align: center;
}

.classification {
  display: block;
  font-style: italic;
  h3 {
    display: inline;
  }
  ul {
    display: inline;
    font-style: italic;
    padding: 0;

    li {
      display: inline;
      list-style-type: none;
      &:after {
        content: "/ ";
      }
      &:last-child:after {
        content: none;
      }
    }
  }
}

p code {
  background: $light-gray;
  padding: 4px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  padding: 1px 5px;
}

/************************* index/archive pages ***************************/

    #month-header {
      font-family: $retro-fonts;
      text-align: center;
    }

    #post-title {
      font-family: $modern-fonts-2;
      font-size: 25px;
      line-height: 50px;
      text-align: center;
    }

    #teaser {
      width: 75%;
      margin: 0 auto;
    }

    // archive:

    ul.posts-by-month {
      li {
        list-style-type: none;
      }
    }


/*************************************************************************/

#footer-container {
  @extend .container;
  background-color: $deep-blue;
  padding-top: 20px;
  padding-bottom: 40px;

  font-family: $retro-fonts;
  font-weight: bold;
  font-size: 13px;
  line-height: 12px;
}

// to do: bring back the footer container and put everything inside of it.
//        find a way to make the layout look the way it does now, without
//        having an ugly-named container div like "cats-and-tags-and-feeds"


.pagination {
  @extend .light-box;
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#latest {
  @extend .light-box;
  display: block;
  width: 405px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

#cats-and-tags-and-feeds {
  position: relative;
  display: block;
  width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

#cats {
  @extend .light-box;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}

#tags {
  @extend .light-box;
  margin-right: 10px;
}

#feeds {
  display: inline-block;
  vertical-align: top;
  margin-top: -17px;
}

#rss-feed {
  @extend .light-box;
  display: block;
  padding: 10px;
}

#atom-feed {
  @extend .light-box;
  display: block;
  padding: 10px;
}

#copyright {
  @extend .light-box;
  display: block;
  width: 475px;
  margin: 0 auto;
  text-align: center;
}
