html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background-image: url("../bright_squares.png");
}
  
a:link, a:visited {
  color: #100BA3;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active {
  color: #12C0C9;
  text-decoration: none;
  font-weight: bold;
}
  
.links {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: 13px;
}

.page-header {
  font-family: 'Droid Serif', Georgia, Times, serif;
  font-size: 35px;
  line-height: 65px;
}

.cats_and_tags {
  font-style: italic;
}

.date {
}

.content {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:25px;
}

.pagination {
  text-align: center;
}

#left-bar {
  position: absolute;
  overflow: visible;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 180px;
}

#contact-links {
}

#content {
  position: absolute;
  left: 190px;
  margin-right: 30px;
}

footer {
  text-align: center;
}

/*
#right-bar {
  float: left;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 20%;
  }
*/
