---
---

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}
  
/*************************************************************************/

#header-container {
  position: relative;
  background-color: #212029;
  width: 100%;
  height: 200px;
}
  
header {
  margin: 10px auto;
}

#portrait-and-project-links {
  position: relative;
}

img#portrait {
  float: left;
  width: 100px;
  height: 100px;
  border: 0px;
  border-radius: 10px;
}

#project-links {
  margin: 1em 1em;
}

p.links {
  margin-top: 0em;
  margin-bottom: 1em;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: 13px;
  line-height: 12px;
}

#contact-links {
}

/*************************************************************************/

#content-container {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../bright_squares.png");
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  
  a:link, a:visited {
    color: #100BA3;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover, a:active {
    color: #34BEEF;
    text-decoration: none;
    font-weight: bold;
  }
}

code {
  background-color: #D1E9E9;
  white-space: pre-wrap;
  padding: 1px 5px;
}

/*************************************************************************/

#footer-container {
  position: relative;
  top: 0px;
  left: 0px; 
  background-color: #212029;
  width: 100%;
  height: 200px;
}


#nav-links {
  position: relative;
  overflow: visible;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 450px;
}

#main-container {
  margin: 0;
  padding: 18px 0; }
  #main-container .article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0; }
  #main-container .article a {
    color: #A78A51; }
    #main-container .article a:hover {
      color: red; }
  #main-container .article h1 {
    margin-bottom: 0;
    padding: 0; }
    #main-container .article h1 a, #main-container .article h1 a:visited {
      text-decoration: none;
      color: #333; }
  #main-container #post-date {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0; }

div#footer-container {
  color: #555;
  margin: 3em 0 0 0;
  padding: 1.5em 0 1em;
  font-size: 13px;
  background-color: #C0BEBA; }
  #footer-container dt {
    float: left;
    clear: left;
    width: 6em;
    padding: 0.1em 0.5em 0 0;
    text-align: right;
    xfont-weight: bold;
    font-family: 'Alfa Slab One', sans-serif;
    xcolor: #444; }
  #footer-container dd {
    padding-bottom: 0.6em;
    margin: 0 0 0 6.5em; }
  #footer-container dt:after {
    xcontent: ":"; }
  #footer-container p {
    padding: 0;
    margin: 0; }
  #footer-container a {
    color: #485f93; }
    #footer-container a:hover {
      color: red; }
  #footer-container #copyright {
    text-align: center;
    margin-top: 2em; }

div#content {
  position: absolute;
  left: 190px;
  margin-right: 30px;
}

#month-header {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}

#post-title {
  font-family: 'Droid Serif', Georgia, Times, serif;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

#teaser {
  width: 50%;
  margin: 0 auto;
}

footer {
  text-align: center;
}

.page-header {
  font-family: 'Droid Serif', Georgia, Times, serif;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

.cats_and_tags {
  font-style: italic;
}

.date {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}

.pagination {
  text-align: center;
}
