---
layout: default
title: "Home"
description: "A programming-related blog by Dave Yarwood"
---
{% include JB/setup %}

<br>
<br>

<div id="post-list">
{% for post in site.posts limit: 10 %}
  {% capture monthyear %} {{ post.date | date: "%B %Y" }} {% endcapture %}
  {% if monthyear != newmonthyear %}
    <div id="month-header">
      <h2>{{ monthyear }}</h2>
    </div>
    {% capture newmonthyear %} {{ monthyear }} {% endcapture %}
  {% endif %}
  <div id="post-title">
    <a href="{{ BASE_URL }}{{ post.url }}">{{ post.title }}</a>
  </div>
  <div id="teaser">
    <i>{{ post.content | strip_html | truncate: 300 }}</i>
    <a href="{{ BASE_URL }}{{ post.url }}">(more)</a>
  </div>
  <br>
{% endfor %}
</div>

