<span class="page-header">
  {{ page.title }}
  {% if page.tagline %}
    <small>{{page.tagline}}</small>
  {% endif %}
</span>

<div class="classification">
  <h4>date:</h4>
  {{ page.date | date: "%B %-d, %Y" }}
</div>

{% unless page.categories == empty %}
<div class="classification">
  <h4>categories:</h4>
  <ul>
  {% for category in page.categories %}
    <li>
      <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref">
        {{ category }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endunless %}

{% unless page.tags == empty %}
<div class="classification">
  <h4>tags:</h4>
  <ul>
  {% for tag in page.tags %}
    <li>
      <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">
        {{ tag }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endunless %}

<article>{{ content }}</article>

<br>
<br>
<span class="page-header">comments</span>
<br>
{% include JB/comments %}
