<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} :: {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSET_PATH }}/css/emptyorchestra.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet" type="text/css">

    <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    
    <!-- Le styles
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    -->

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="links" id="left-bar">
      <br>
      <a href="{{ HOME_PATH }}">
        <img src="{{ ASSET_PATH }}/dave.jpg" width="150" height="150"><br>
        dave yarwood<br>
      </a>
      composer;<br>
      musician;<br>
      programmer<br>
      <br>
      <div id="contact-links">
        <a href="http://github.com/daveyarwood" target="_blank"><img src="{{ ASSET_PATH }}/github.png" alt="github"></a>
        <a href="http://soundcloud.com/daveyarwood" target="_blank"><img src="{{ ASSET_PATH }}/soundcloud.png" alt="soundcloud"></a>
        <a href="http://www.last.fm/user/sdmoibut" target="_blank"><img src="{{ ASSET_PATH }}/lastfm.png" alt="last.fm"></a>
        <a href="mailto:dave.yarwood@gmail.com"><img src="{{ ASSET_PATH }}/email.png" height="32" width="32" alt="e-mail"></a><br>
        <br>
        yggdrasil [tba]<br>
        <a href="http://noloveraleigh.bandcamp.com" target="_blank">no love</a><br>
        <a href="http://antibubbles.bandcamp.com" target="_blank">antibubbles</a><br>
        <br>
        <a href="http://www.omfgdogs.com" target="_blank">
          <img src="{{ ASSET_PATH }}/bluevirus.gif">
        </a>
      </div>
      
      <br>
      
      --- 

      <h1><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">archive</a></h1>
      
      ---
            
      <h1>latest:</h1>
      {% for post in site.posts offset: 0 limit: 3 %}
        <a href="{{ root_url }}{{ post.url }}">{{ post.date | date: '%Y-%m-%d' }}:<br>{{ post.title }}</a><br><br>
      {% endfor %}
      
      ---

      <h1>categories:</h1>
      {% for category in site.categories %}
        <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">
        {{ category[0] | join: "/" }}</a><br>
      {% endfor %}

      <h1>tags:</h1>
      {% for tag in site.tags %}
        <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">
        {{ tag[0] }} ({{ tag[1].size }})</a><br>
      {% endfor %}
      
      <br>
      ---

      <h1><a href="http://daveyarwood.github.io/rss.xml">rss</a> /
          <a href="http://daveyarwood.github.io/atom.xml">atom</a></h1>
    </div>
  <!--
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>
   -->

    <div id="content">
      {{ content }}
      <footer>
        &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
      </footer>
    </div>

<!--
    <div class="links" id="right-bar">

    </div>
-->

    <div style="clear: both; height: 1px;"></div>

    {% include JB/analytics %}
  </body>
</html>
