<h1 class="page-header">
  {{ page.title }}
  {% if page.tagline %}
    <small>{{page.tagline}}</small>
  {% endif %}
</h1>

<h2 class="date">
  {{ page.date | date: "%B %-d, %Y" }}
</h2>

{% unless page.categories == empty %}
<h3>categories:</h3>
<ul class="classification">
{% for category in page.categories %}
  <li>
    <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref">
      // shouldn't this just be {{ category }} ?
      {{ category | join: "/" }}
    </a>
  </li>
{% endfor %}
</ul>
{% endunless %}

{% unless page.tags == empty %}
<h3>tags:</h3>
<ul class="classification">
{% for tag in page.tags %}
  <li>
    <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">
      // shouldn't this just be {{ tag }} ?
      {{ tag | join: "/" }}
    </a>
  </li>
{% endfor %}
</ul>
{% endunless %}

<article>{{ content }}</article>

{% include JB/comments %}
